/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.NavBar{
justify-content: right;
}

li {

}

li a {
  float: right;
  color: white;
  padding: 14px 16px;
  text-decoration: none !important;
}

li a:hover {
  background-color: #111;
}
.logo{
    height: 175px;
    width: 300px;
    float: left;
} */
